.helloUser_container {
  width: 90%;
  margin: 0 auto 2em;
  height: 20%;
}

.helloUser_container h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 48px;
}

.helloUser_container h2 span {
  color: #ff0101;
}

.helloUser_container p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
