.block_nav-link{
    width: 70%;
}

.nav-link_list{
    display: flex;
    text-align: center;
    width: 100%;
}

.nav-link_list li {
    margin-right: 1em;
    width: 25%;
}

.nav-link_list li > a {
    color : #FFF;
    font-size: 1.5rem;
}

